h1#title {
    text-align: center;
    background-color: #375c5c;
    color: white;
    padding: 10px 0;
    margin-top: -10px;
}

body, html {
    padding-top: 0;
}

#choices {
    display: flex;
    padding: 10px 10px;
    gap: 10px;
    justify-content: center;
}

.display-choices {
    display: flex;
    padding: 10px 100px;
    gap: 10px;
    justify-content: space-between;
    
}
.choice {
    background-color: #6aafaf;
    padding: 50px;
}